html,
body,
#content {
  background-color: #000000;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul {
  list-style-type: square;
}

#main {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: auto;
  /* background-color: #2c2c2c; */
  color: #f2e900;
  align-content: center;
  height: "100%";
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f2e900;
  width: 100%;
  padding: 10px;
  height: auto;
  display: flex;
  align-items: flex-end;
}

#footContainer {
  background-color: #f2e900;
  /* border-radius: 0px 15px 0px 0px; */
  position: fixed;
  width: 20%;
  text-align: center;
  left: 75%;
  padding: 20px;
}

.centerDiv {
  /* background-color: #eee; */
  display: flex;
  align-items: flex-end;
  align-self: center;
  flex-direction: column;
  width: 75em;
  margin-bottom: 10em;
}

.itemsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.drink {
  display: flex;
  flex-direction: row;
  /* width: 30em; */
}

.infoContainer {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  flex-grow: 1;
  /* align-self: center; */
  width: 25em;
}

.imgContainer {
  display: flex;
  width: 15em;
  height: 15em;
  align-self: center;
  padding-left: 3em;
  /* flex-grow: 1; */
  /* height: 35em; */
}

.ingrContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 25em;
}

.info {
  font-size: clamp(5vh, 5vh, 10vw);
  font-weight: bold;
}

.title {
  font-size: clamp(10vh, 50vh, 25vw);
}

.subtitle {
  font-size: clamp(5vh, 5vh, 20vw);
  font-weight: bold;
}

.accent {
  font-size: clamp(10vh, 20vh, 20vw);
  font-weight: bold;
}

.legend {
  font-size: clamp(5vh, 5vh, 20vw);
  font-weight: bold;
  align-self: flex-end;
}

.ingredient {
  font-size: clamp(3vh, 3vh, 3vw);
}

.quote {
  font-size: clamp(3vh, 3vh, 3vw);
  font-style: italic;
  padding-left: 1em;
  /* align-self: flex-end; */
}

.banner {
  margin-bottom: 5em;
}

.img {
  width: 100%;
  height: 100%;
  align-self: center;
  /* height: 35em; */
}

.tab {
  width: max-content;
  height: max-content;
  padding-top: 20%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: bold;
}

.tab:hover,
.tab:focus {
  background-color: #000000;
  color: #f2e900;
  cursor: pointer;
}
