body {
  background-color: #1f1f1f;
  /* justify-content: center; */
  padding: 1.5rem 0;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
  color: azure;
}

#newBookBtn-container {
  display: flex;
  justify-content: center;
  color: azure;
}

#form-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  align-items: center;
}

#form {
  margin: 15% auto;
  align-self: center;
  width: max-content;
  max-width: 150vw;
  max-height: 150vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: start;
  padding: 1rem 1rem;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
}

#carousel-container {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
}
#library-container {
  display: inline-flex;
  background-color: #111111;
  box-shadow: black;
  flex-direction: row;
  flex-wrap: wrap;
  color: azure;
  border-radius: 5px;
  justify-content: center;
  width: 50%;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #033fc2;
  box-shadow: black;
  color: azure;
  border-radius: 5px;
  width: 150px;
  height: 75px;
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: large;
  text-align: center;
}

.info {
  font-size: medium;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
